<a href="https://colab.research.google.com/github/maswadkar/python/blob/master/pandas_001_10_minutes_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Object creation

In [ ]:
import numpy as np
import pandas as pd
pd.__version__

In [ ]:
#Creating a Series by passing a list of values, letting pandas create a default integer index:
s = pd.Series([1,2,np.nan,4])
s

In [ ]:
#Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range(start='20000101',periods=6,)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['A','B','C','D',])
df

In [ ]:
#Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:
df2 = pd.DataFrame({'A':1,
                   'B':pd.Timestamp('20220202'),
                   'C':pd.Series(1, index=list(range(4)), dtype="float32"),
                   'D':np.array([3]*4,dtype='float32'),
                   'E':pd.Categorical(['test','train','test','train']),
                   'F':'foo'
                   })
df2

In [ ]:
#The columns of the resulting DataFrame have different dtypes:
df2.dtypes

#Viewing data

In [ ]:
#Here is how to view the top and bottom rows of the frame:
df.head()

In [ ]:
df.tail(3)

In [ ]:
#Display the index, columns:
df.index

In [ ]:
df.columns

 [DataFrame.to_numpy()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy) gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column. When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [ ]:
#For df, our DataFrame of all floating-point values, DataFrame.to_numpy() is fast and doesn’t require copying data:
df.to_numpy()

In [ ]:
#For df2, the DataFrame with multiple dtypes, DataFrame.to_numpy() is relatively expensive:
df2.to_numpy()

In [ ]:
#describe() shows a quick statistic summary of your data:
df.describe()

In [ ]:
#Transposing your data:
df.T

In [ ]:
#Sorting by an axis:
df.sort_index(axis=1,ascending=False)

In [ ]:
#Sorting by values:
df.sort_values(by='B',ascending=False)

#Selection

## Getting

In [ ]:
#Selecting a single column, which yields a Series, equivalent to df.A:
df['A']

In [ ]:
#Selecting via [], which slices the rows:
df[0:3]

## Selection by label

In [ ]:
#For getting a cross section using a label:
df.loc[dates[0]]

In [ ]:
#Selecting on a multi-axis by label:
df.loc[:,['A','C']]

In [ ]:
#Showing label slicing, both endpoints are included:
df.loc['2000-01-02':'2000-01-05',['A','C']]

In [ ]:
#Reduction in the dimensions of the returned object:
df.loc['2000-01-02',['A','C']]

In [ ]:
#For getting a scalar value:
df.loc[dates[0],'D']

In [ ]:
#For getting fast access to a scalar (equivalent to the prior method):
df.at[dates[0],'B']

##Selection by position

In [ ]:
#Select via the position of the passed integers:
df.iloc[3]

In [ ]:
#By integer slices, acting similar to NumPy/Python:
df.iloc[0:2,1:3]

In [ ]:
#By lists of integer position locations, similar to the NumPy/Python style:
df.iloc[[1,5],[0,2]]

In [ ]:
#For slicing rows explicitly:
df.iloc[3:4,:]

In [ ]:
#For slicing columns explicitly:
df.iloc[:,2:3]

In [ ]:
#For getting a value explicitly:
df.iloc[2,2]

##Boolean indexing

In [ ]:
#Using a single column’s values to select data:
df[df['A'] > 0.7]

In [ ]:
#Selecting values from a DataFrame where a boolean condition is met:
df[df > 0.5]

In [ ]:
#Using the isin() method for filtering:
df2 = df.copy()
df2['E'] = ["one", "one", "two", "three", "four", "three"]
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])]

##Setting

In [ ]:
#Setting a new column automatically aligns the data by the indexes:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20000101", periods=6))
df["F"] = s1

In [ ]:
df

In [ ]:
#Setting values by label:
df.loc[dates[0],'A'] = 0.333333
df

In [ ]:
#Setting values by position:
df.iat[0,3] = .444444
df

In [ ]:
#Setting by assigning with a NumPy array:
df.loc[:,'D'] = np.array([5] * len(df))
df

In [ ]:
#A where operation with setting:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

#Missing data

pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. See the Missing Data section.

In [ ]:
#Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1

df1

In [ ]:
#To drop any rows that have missing data:
df1.dropna(how="any")

In [ ]:
#Filling missing data:
df1.fillna(5)

In [ ]:
#to get the boolean mask where values are nan:
df1.isna()

#Operations

##Stats

Operations in general exclude missing data

In [ ]:
df.mean()

In [ ]:
#Same operation on the other axis:
df.mean(axis=1)

In [ ]:
#Operating with objects that have different dimensionality and need alignment. 
#In addition, pandas automatically broadcasts along the specified dimension:

s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
df

In [ ]:
df.sub(s,axis='index')

## Apply

In [ ]:
#Applying functions to the data:
df.apply(np.cumsum,)

In [ ]:
df.apply(lambda x: x.max() - x.min(),axis=1)

## Histogramming

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

##String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). See more at Vectorized String Methods.

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

In [ ]:
s.str.lower()

#Merge

##Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
#break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces)

**Note:**

Adding a column to a DataFrame is relatively fast. However, adding a row requires a copy, and may be expensive. We recommend passing a pre-built list of records to the DataFrame constructor instead of building a DataFrame by iteratively appending records to it.

##Join

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
#Another example that can be given is:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
right

In [ ]:
pd.merge(left, right, on="key")

#Grouping

By **“group by”** we are referring to a process involving one or more of the following steps:

 - **Splitting** the data into groups based on some criteria
 - **Applying** a function to each group independently
 - **Combining** the results into a data structure

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df

In [ ]:
#Grouping and then applying the sum() function to the resulting groups:
df.groupby('A').sum()

In [ ]:
#Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function:
df.groupby(["A",'B']).sum()

#Reshaping

In [ ]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df

In [ ]:
df2 = df[:4]
df2

In [ ]:
#The stack() method “compresses” a level in the DataFrame’s columns:
stacked = df2.stack()
stacked

In [ ]:
#With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

##Pivot tables

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

In [ ]:
pd.pivot(df,index=['A','B'],columns='C',values='D')

##Time series

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample("5Min").sum()

In [ ]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
#Time zone representation:
ts_utc = ts.tz_localize("UTC")
ts_utc

In [ ]:
#Converting to another time zone:
ts_utc.tz_convert("US/Eastern")

In [ ]:
#Converting between time span representations:
rng = pd.date_range("1/1/2012", periods=5, freq="M")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

#Categoricals

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]})

In [ ]:
df

In [ ]:
#Converting the raw grades to a categorical data type:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
#Rename the categories to more meaningful names (assigning to Series.cat.categories() is in place!):
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [ ]:
df["grade"].cat.categories

In [ ]:
#Reorder the categories and simultaneously add the missing categories (methods under Series.cat() return a new Series by default):
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

In [ ]:
df

In [ ]:
#Sorting is per order in the categories, not lexical order:
df.sort_values(by="grade")

In [ ]:
#Grouping by a categorical column also shows empty categories:
df.groupby(by='grade').size()

#Plotting

In [ ]:
import matplotlib.pyplot as plt
plt.close("all")

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))
ts = ts.cumsum()
ts.plot();

In [ ]:
#If running under Jupyter Notebook, the plot will appear on plot(). Otherwise use matplotlib.pyplot.show to show it or matplotlib.pyplot.savefig to write it to a file.
plt.show();

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)

In [ ]:
df = df.cumsum()
plt.figure();
df.plot();
plt.legend(loc='best');

#Getting data in/out

In [ ]:
df.to_csv("foo.csv")

In [ ]:
pd.read_csv("foo.csv")

In [ ]:
df.to_hdf("foo.h5", "df")

In [ ]:
pd.read_hdf("foo.h5", "df")

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

In [ ]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

#Gotchas

In [ ]:
#if pd.Series([False, True, False]):
#    print("I was true")